.border,
.output {
  border: rgba(249, 213, 229, 0.7) 2px solid;
  border-radius: 12px;
  width: 400px;
  font-size: 32px;
  color: rgba(228, 180, 207, 0.8);
}

.border {
  margin-top: 4%;
  height: 600px;
  padding: 20px;
  background-color: rgba(188, 188, 188, 0.025);
}

.output {
  flex: 1;
  margin-bottom: 12px;
  padding-right: 16px;
  align-items: flex-end;
  font-family: "math", sans-serif;
  background-color: rgba(188, 188, 188, 0.06);
}

#op,
#input {
  align-self: flex-end;
  padding: 10px 10px 20px 0px;
}

#op {
  font-size: 20px;
}

.input-grid {
  display: grid;
  grid-template-columns: [first] 100px [second] 100px [third] 100px [fourth] 100px;
  flex: 3;
  border: rgba(249, 213, 229, 0.2) 1px solid;
  border-radius: 12px;
  width: 400px;
  margin-top: 12px;
  padding: 0px;
  background-color: rgba(58, 58, 58, 0.155);
}
/* 0-9 */
.input-item {
  flex: 1;
  border: rgba(249, 213, 229, 0.3) 1px solid;
  border-radius: 9px;
  font-family: "math", sans-serif;
  font-size: 16px;
  color: #f9d5e5;
  background-color: rgba(188, 188, 188, 0.09);
}

.input-item:hover {
  background-color: rgba(188, 188, 188, 0.19);
}

/* + - x / */
.input-item.operation-item {
  font-weight: bold;
  font-size: 14px;
  background-color: rgba(72, 0, 72, 0.2);
}

.input-item.operation-item:hover {
  background-color: rgba(72, 0, 72, 0.45);
}

/* calc ops: Clear, Del */
.input-item.operation-item-secondary {
  font-weight: bold;
  font-size: 14px;
  background-color: rgba(118, 118, 118, 0.33);
}

.input-item.operation-item-secondary:hover {
  background-color: rgba(118, 118, 118, 0.55);
}

/* result (=) */
.input-item.result-item {
  font-weight: bold;
  font-size: 14px;
  background-color: rgba(255, 193, 7, 0.25);
}

.input-item.result-item:hover {
  background-color: rgba(255, 193, 7, 0.5);
}

/* Clear Everything Btn */
.input-item.c-e {
  font-weight: bold;
  font-size: 14px;
  background-color: rgba(128, 32, 32, 0.43);
}

.input-item.c-e:hover {
  background-color: rgba(128, 32, 32, 0.73);
}
