:root {
    --bg-url: url("https://images.unsplash.com/photo-1510020553968-30f966e1ec9e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80")
}


/* * {
    outline: 1px dashed red;
}  */

body {
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#background-image {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    /* background-image: url("https://images.unsplash.com/photo-1510020553968-30f966e1ec9e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80"); */
    background-image: var(--bg-url);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    -webkit-filter: blur(20px);
    filter: blur(20px);
    margin: 0px;
    padding: 0px;
}

.main-container {
    display: flex;
    flex-direction: column;
    margin: 0px;
    height: 100%;

}

.main-container-top-half {
    flex: 2;
    margin: 0px;
    display: flex;
    flex-direction: column;
    padding: 1vw 8vw;
}

.main-container-bottom-half {
    flex: 1;
    background-color: rgba(48, 57, 82, 0.5);
    margin: 0px;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: flex-end;
}

.top-container-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 90%;
    margin-top: 15px;
}

.forecast-row {
    justify-content: space-evenly;
    width: 100vw;

}

.time-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
}


.today-forecast-weather-container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.today-forecast-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#time {
    font-size: 100px;
}

#date {
    font-size: 32px;
}

#city-input {
    font-size: 65px;
    width: 100%;
    align-self: flex-end;
    background-color: transparent;
    border: 0px;
    border-bottom: 4px solid white;
    outline: none;
    caret-color: white;
    padding-bottom: 1vh;
    padding-left: 0;
    color: whitesmoke;
}

#forecast-temp-0 {
    font-size: 36px;
    padding-top: 15px
}

.forecast-item {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.forecast-day {
    border: 1px solid white;
    border-radius: 30px;
    padding: 6px 12px;
    width: 3vw;
}

.today-forecast-title {
    font-size: 36px;
}

.forecast-temps-container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.weathercode {
    flex: 1;
    margin-left: 50px
}

.forecast-range-container {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    height: 80%;
    width: 100%
}

.forecast-temps {
    position: relative;
    flex: 1;
    border-radius: 120px;
    height: 100%;
    width: 1.5vh;
    opacity: 0.85;
    /* background: linear-gradient(160deg, #555, #333); */
    background-image: linear-gradient(160deg, #FF2525 -2%, #FFE53B 15%, #0093E9 40%, #80D0C7 100%);
}

.range-bar {
    position: absolute;
    top: 10px;
    left: 10;
    width: 100%;
    height: var(--range, 60%);
    border-radius: 5px;
    background: #444;
    opacity: 0.5;
    /* Start with a fully transparent background */
}


/* Spinner loader */
.loader {
    animation: bounce 1.5s infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(15%);
    }

    50% {
        transform: translateY(-15%);
    }

    100% {
        transform: translateY(15%);
    }
}

#temp-bar-1 {
    animation-delay: 0.1s;
}

#temp-bar-2 {
    animation-delay: 0.2s;
}

#temp-bar-3 {
    animation-delay: 0.3s;
}

#temp-bar-4 {
    animation-delay: 0.4s;
}

#temp-bar-5 {
    animation-delay: 0.5s;
}

#temp-bar-6 {
    animation-delay: 0.6s;
}

.refresh-button-div {
    display: flex;
    justify-content: flex-end;
    padding: 1%;
}

#refresh-button:hover {
    opacity: 0.6;
    cursor: pointer;
}