:root {
    --bg-url: "https://images.unsplash.com/photo-1510020553968-30f966e1ec9e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80"
}

/* 
* {
    outline: 1px dashed red;
  } */

body {
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-image {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    background-image: url("https://images.unsplash.com/photo-1510020553968-30f966e1ec9e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    -webkit-filter: blur(20px);
    filter: blur(20px);
    margin: 0px;
    padding: 0px;
}

.main-container {
    display: flex;
    flex-direction: column;
    margin: 0px;
    height: 100%;

}

.main-container-top-half {
    flex: 2;
    margin: 0px;
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8vw;
}

.main-container-bottom-half {
    flex: 1;
    background-color: rgba(48, 57, 82, 0.5);
    margin: 0px;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
}

.top-container-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 90%;
    margin-top: 15px;
}

.forecast-row {
    justify-content: space-evenly;
    width: 100vw;

}

.time-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
}


.today-forecast-container {
    display: flex;
    align-items: center;
    gap: 20px
}

#time {
    font-size: 100px;
}

#date {
    font-size: 32px;
}

#city {
    font-size: 65px;
    padding-bottom: 30px;
    width: 100%;
    align-self: flex-end;
    background-color: transparent;
    border: 0px;
    border-bottom: 4px solid white;
    outline: none;
    caret-color: white;
    padding-bottom: 0;
    padding-left: 0;
    color: whitesmoke;
}

#forecast-temp-0 {
    font-size: 36px;
    padding-top: 15px
}

.forecast-item {
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}

.forecast-day {
    border: 1px solid white;
    border-radius: 30px;
    padding: 6px 12px;

}


/* Spinner loader */
.loader {
    width: 20px;
    height: 20px;
    background-color: #ccc;
    opacity: 0.8;
    border-radius: 50%;
    position: relative;
    animation: bounce 1.5s infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(100%);
    }

    50% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100%);
    }
}

.ball1 {
    animation-delay: 0.1s;
}

.ball2 {
    animation-delay: 0.2s;
}

.ball3 {
    animation-delay: 0.3s;
}

.ball4 {
    animation-delay: 0.4s;
}

.ball5 {
    animation-delay: 0.5s;
}

.ball6 {
    animation-delay: 0.6s;
}